.resumeWrapper {
  display: flex;
  border: 1px solid #ccc;
  margin-left: 28%;
  margin-top: 8%;
  font-family: "Arial", sans-serif;
  width: 250mm;
  height: 297mm;
  font-size: 12px;
  background-color: #f8f8f8;
}

.leftSection {
  background-color: #7b1e20;
  color: #fff;
  width: 30%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftSection h1 {
  font-size: 75px;
  margin: 40px 0;
  padding: 60px;
  border-radius: 2px;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  text-align: center;
}

.leftSection h2 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.leftSection .section {
  width: 100%;
  margin-bottom: 20px;
}

.leftSection .section h3 {
  font-size: 27px;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.header {
  text-align: left;
  margin-bottom: 20px;

  padding: 10px 0;
}

.leftSection p,
.leftSection a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

.bubbles span {
  display: inline-block;
  background: #fae5e5;
  color: #7b1e20;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 3px;
  font-size: 12px;
}

.rightSection {
  width: 70%;
  padding: 30px;
  text-align: left;
  background-color: #fff;
}

.rightSection h3 {
  color: #7b1e20;
  font-size: 18px;
  border-bottom: 2px solid #7b1e20;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.rightSection p,
.rightSection li {
  font-size: 14px;
  line-height: 1.6;
}

.rightSection ul {
  padding-left: 20px;
}

.rightSection strong {
  color: #333;
}

.rightSection div {
  margin-bottom: 20px;
}
.educationSection {
  font-size: 27px;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
