

.resumeContainer {
  max-width: 900px;
  margin: auto;
  font-family: Arial, sans-serif;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.438);
  border-radius: 8px;
  padding: 14px;
  background: #647c41;
  overflow-wrap: break-word;
  word-break: break-word;
}

.resumeHeader {
  text-align: center;
  padding: 20px 0;
  border-bottom: 3px solid #134ee2;
  color: #000000;
}

.resumeHeader p {
  color: #ffffff;
  word-break: break-word;
}

.panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.leftPanel,
.rightPanel {
  width: 48%;
  box-sizing: border-box;
}

.leftPanel section,
.rightPanel section {
  background: #ffffff;
  padding: 18px;
  margin-top: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  overflow-wrap: break-word;
  word-break: break-word;
  page-break-inside: avoid;
}

.leftPanel h2,
.rightPanel h2 {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid #2a56c6;
  padding-bottom: 4px;
  margin-bottom: 6px;
}

ul {
  padding-left: 20px;
  margin: 0;
}

.leftPanel ul li,
.rightPanel ul li {
  padding: 4px 0;
  font-size: 14px;
}

.leftPanel p,
.rightPanel p {
  font-size: 14px;
  margin: 4px 0;
}

.rightPanel h3 {
  font-size: 16px;
  font-weight: bold;
}

.date {
  color: #2a56c6;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 5px;
}
@media print {
  body {
    background: #647c41 !important;
  }

  .resumeContainer {
    background: #647c41 !important;
    box-shadow: none;
    padding: 0;
    width: 100%;
    max-width: 100%;
    font-size: 12px;
  }

  .leftPanel,
  .rightPanel {
    width: 48%;
    padding: 10px;
    box-sizing: border-box;
  }

  .leftPanel section,
  .rightPanel section {
    background: #ffffff !important;
    margin-top: 6px;
    padding: 10px;
    box-shadow: none;
    page-break-inside: avoid;
  }

  .resumeHeader {
    text-align: center;
    border-bottom: 2px solid #2a56c6;
  }

  .resumeHeader h1 {
    font-size: 18px;
  }

  .resumeHeader p {
    color: #ffffff !important;
    font-size: 11px;
  }

  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    color-adjust: exact !important;
  }
}
