
.resume {
  display: flex;
  width: 210mm;
  background: white;
  font-size: 12px;
  position: relative;
}

.resumeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.resumeWrapper {
  display: flex;
  flex-direction: column;
  width: 210mm;
  min-height: 297mm;
  background: white;
  font-size: 12px;
  position: relative;
}

.leftPanel {
  width: 30%;
  background-color: var(--theme-color);
  color: white;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.hexagon {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  color: var(--theme-color);
  clip-path: ellipse(50% 30% at 50% 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin: auto;
}

.contact p {
  color: #ffffff;
  word-break: break-word;
}

.icon {
  margin-bottom: 4px;
}

.section {
  margin-top: 20px;
  page-break-inside: avoid;
}

.sideHeader {
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.leftPanel p {
  font-size: 11px;
  color: white;
  margin: 3px 0;
}


.rightPanel {
  width: 70%;
  padding: 20px;
  box-sizing: border-box;
}

.nameStrip {
  background-color: #d3d3d3;
  padding: 10px;
  text-align: center;
}

.nameStrip h1 {
  font-size: 20px;
  margin: 0;
}

.title {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  margin: 8px 0;
}

.sectionTitle {
  font-family: cursive;
  font-size: 13px;
  border-bottom: 1px solid black;
  margin-bottom: 8px;
}

.rightPanel ul {
  padding-left: 20px;
  margin-top: 4px;
}

.rightPanel ul li {
  margin-bottom: 4px;
}

.projectItem, .workItem {
  margin-bottom: 12px;
}

.justified {
  text-align: justify;
  font-size: 11px;
}


@media print {
  @page {
    size: A4;
    margin: 0.25in;
  }

  .resumeContainer {
    page-break-before: auto;
    page-break-after: always;
  }

  .resume {
    width: 210mm;
    height: 297mm;
    display: flex;
    page-break-inside: avoid;
    padding: 6.35mm;
  }

  .leftPanel {
    position: fixed;
    width: 30%;
    height: 100%;
    background-color: var(--theme-color);
    color: white;
    padding: 20px;
    text-align: center;
    left: 0;
    top: 0;
  }

  .resume:not(:first-of-type) .leftPanel * {
    visibility: hidden;
  }

  .resume:not(:first-of-type) .leftPanel {
    visibility: visible;
  }

  .rightPanel {
    width: 70%;
    padding: 20px;
    margin-left: 30%;
  }

  .resume:not(:first-of-type) .rightPanel {
    display: contents;
  }

  .page-break {
    page-break-before: always;
    break-before: page;
  }

  .section {
    page-break-inside: avoid;
  }
}
